/*
 * Copyright © 2023 Norman Fomferra
 * Permissions are hereby granted under the terms of the MIT License:
 * https://opensource.org/licenses/MIT.
 */

.row1 {
  width: 80%;
  padding: 8px;
}

.row2 {
  display: flex;
  gap: 10px;
  padding: 8px;
}

.row2-item {
  width: 40%;
}

.button-bar {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  width: 100%;
}

.menu-separator {
  width: 100%;
}

.keybinding {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2px;
  font-size: 0.8em;
  font-weight: 200;
  font-family: inherit;
  background-color: #3a3a3a;
}
