.row2 {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.row2-item {
  width: 40%;
}

.row1 {
  width: 80%;
  padding: 10px;
}

.button-bar {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  width: 100%;
}

.menu-separator {
  width: 100%;
}
